<?xml version='1.0' encoding='utf-8'?>
<widget id="com.facephi.sdk.demo" version="2.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Onboarding Example</name>
    <description>Onboarding Ionic/Cordova app.</description>
    <author email="lariel@facephi.com" href="https://cordova.apache.org">
        Facephi Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <dependency id="cordova-plugin-cocoapod-support"/>
    <dependency id="cordova-plugin-statusbar"/>
    <dependency id="cordova-plugin-advanced-http"/>
    <dependency id="cordova-plugin-broadcaster"/>
    
    <platform name="android">
        <preference name="GradlePluginKotlinVersion" value="2.1.0" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="AndroidGradlePluginVersion" value="8.9.3" />
        <preference name="android-compileSdkVersion" value="36" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="36" />
        <!-- needs cordova-plugin-statusbar -->
        <preference name="StatusBarOverlaysWebView" value="false" />
    </platform>

    <platform name="ios">
        <hook type="after_plugin_add" src="hooks/after_plugin_add/ios-podfile.js" />

        <preference name="deployment-target" value="13.0" />
        <preference name="UseSwiftLanguageVersion" value="5" />
        <!-- needs cordova-plugin-statusbar -->
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
</widget>
